.elementor-kit-14 {
  --e-global-color-primary: #040018;
  --e-global-color-secondary: #243b8d;
  --e-global-color-text: #93969f;
  --e-global-color-accent: #9780f2;
  --e-global-color-25e6898: #ceccda;
  --e-global-color-9a318d1: #857fa3;
  --e-global-color-8ef9ea6: #342a66;
  --e-global-color-2235386: #070030;
  --e-global-color-0079df5: #040018;
  --e-global-color-b75f472: #e6e1fc;
  --e-global-color-9c6d325: #c0b3f7;
  --e-global-color-6dbc768: #9780f2;
  --e-global-color-68109f3: #5745a0;
  --e-global-color-b802117: #2b2250;
  --e-global-color-8cf4e6b: #ebebed;
  --e-global-color-a6ae2d2: #c5c6cd;
  --e-global-color-b7e0fd3: #93969f;
  --e-global-color-ac34417: #6a6d75;
  --e-global-color-f031e3d: #383a3e;
  --e-global-color-8a6a5fa: #1d8234;
  --e-global-color-074e16f: #e83a17;
  --e-global-color-fcac38e: #ffd028;
  --e-global-color-2d5141a: #f2f5ff;
  --e-global-color-cd91723: #b6bed9;
  --e-global-color-03cd2dc: #495ca0;
  --e-global-color-be45e4e: #ffffff;
  --e-global-color-16ba271: #00000000;
  --e-global-color-3579f8d: #437afa;
  --e-global-typography-primary-font-family: "Urbanist";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Urbanist";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Urbanist";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Urbanist";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-9e84337-font-family: "Urbanist";
  --e-global-typography-9e84337-font-size: 6rem;
  --e-global-typography-9e84337-font-weight: 500;
  --e-global-typography-9e84337-line-height: 1.2em;
  --e-global-typography-25e89a7-font-family: "Urbanist";
  --e-global-typography-25e89a7-font-size: 4.75rem;
  --e-global-typography-25e89a7-font-weight: 500;
  --e-global-typography-25e89a7-line-height: 1.2em;
  --e-global-typography-9313785-font-family: "Urbanist";
  --e-global-typography-9313785-font-size: 4rem;
  --e-global-typography-9313785-font-weight: 500;
  --e-global-typography-9313785-line-height: 1.2em;
  --e-global-typography-5890a7d-font-family: "Urbanist";
  --e-global-typography-5890a7d-font-size: 3.5rem;
  --e-global-typography-5890a7d-font-weight: 500;
  --e-global-typography-5890a7d-line-height: 1.4em;
  --e-global-typography-c22eaa1-font-family: "Urbanist";
  --e-global-typography-c22eaa1-font-size: 3rem;
  --e-global-typography-c22eaa1-font-weight: 500;
  --e-global-typography-c22eaa1-line-height: 1.4em;
  --e-global-typography-1f3d330-font-family: "Urbanist";
  --e-global-typography-1f3d330-font-size: 2.5em;
  --e-global-typography-1f3d330-font-weight: 500;
  --e-global-typography-1f3d330-line-height: 1.4em;
  --e-global-typography-1a4a178-font-family: "Urbanist";
  --e-global-typography-1a4a178-font-size: 2rem;
  --e-global-typography-1a4a178-font-weight: 700;
  --e-global-typography-1a4a178-line-height: 1.4em;
  --e-global-typography-aeacf95-font-family: "Urbanist";
  --e-global-typography-aeacf95-font-size: 1.5rem;
  --e-global-typography-aeacf95-font-weight: 700;
  --e-global-typography-aeacf95-line-height: 1.4em;
  --e-global-typography-e42b34a-font-family: "Urbanist";
  --e-global-typography-e42b34a-font-size: 1.25rem;
  --e-global-typography-e42b34a-font-weight: 600;
  --e-global-typography-e42b34a-line-height: 1.4em;
  --e-global-typography-7b07726-font-family: "Urbanist";
  --e-global-typography-7b07726-font-size: 0.875rem;
  --e-global-typography-7b07726-font-weight: 600;
  --e-global-typography-7b07726-text-transform: uppercase;
  --e-global-typography-7b07726-line-height: 1em;
  --e-global-typography-3004af5-font-family: "Urbanist";
  --e-global-typography-3004af5-font-size: 1.125rem;
  --e-global-typography-3004af5-font-weight: 600;
  --e-global-typography-3004af5-line-height: 1.6em;
  --e-global-typography-8effbd8-font-family: "Urbanist";
  --e-global-typography-8effbd8-font-size: 1rem;
  --e-global-typography-8effbd8-font-weight: 500;
  --e-global-typography-8effbd8-line-height: 1.6em;
  --e-global-typography-422cfbf-font-family: "Urbanist";
  --e-global-typography-422cfbf-font-size: 0.875rem;
  --e-global-typography-422cfbf-font-weight: 500;
  --e-global-typography-422cfbf-line-height: 1.6em;
  --e-global-typography-bbd10ee-font-family: "Urbanist";
  --e-global-typography-bbd10ee-font-size: 1rem;
  --e-global-typography-bbd10ee-font-weight: 600;
  --e-global-typography-bbd10ee-line-height: 1em;
  --e-global-typography-c1936b1-font-family: "Urbanist";
  --e-global-typography-c1936b1-font-size: 0.937rem;
  --e-global-typography-c1936b1-font-weight: 600;
  --e-global-typography-c1936b1-text-transform: uppercase;
  --e-global-typography-c1936b1-line-height: 1em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-3004af5-font-family), Sans-serif;
  font-size: var(--e-global-typography-3004af5-font-size);
  font-weight: var(--e-global-typography-3004af5-font-weight);
  line-height: var(--e-global-typography-3004af5-line-height);
  letter-spacing: var(--e-global-typography-3004af5-letter-spacing);
  word-spacing: var(--e-global-typography-3004af5-word-spacing);
}
.elementor-kit-14 h1 {
  font-family: var(--e-global-typography-c22eaa1-font-family), Sans-serif;
  font-size: var(--e-global-typography-c22eaa1-font-size);
  font-weight: var(--e-global-typography-c22eaa1-font-weight);
  line-height: var(--e-global-typography-c22eaa1-line-height);
  letter-spacing: var(--e-global-typography-c22eaa1-letter-spacing);
  word-spacing: var(--e-global-typography-c22eaa1-word-spacing);
}
.elementor-kit-14 h2 {
  font-family: var(--e-global-typography-1f3d330-font-family), Sans-serif;
  font-size: var(--e-global-typography-1f3d330-font-size);
  font-weight: var(--e-global-typography-1f3d330-font-weight);
  line-height: var(--e-global-typography-1f3d330-line-height);
  letter-spacing: var(--e-global-typography-1f3d330-letter-spacing);
  word-spacing: var(--e-global-typography-1f3d330-word-spacing);
}
.elementor-kit-14 h3 {
  font-family: var(--e-global-typography-1a4a178-font-family), Sans-serif;
  font-size: var(--e-global-typography-1a4a178-font-size);
  font-weight: var(--e-global-typography-1a4a178-font-weight);
  line-height: var(--e-global-typography-1a4a178-line-height);
  letter-spacing: var(--e-global-typography-1a4a178-letter-spacing);
  word-spacing: var(--e-global-typography-1a4a178-word-spacing);
}
.elementor-kit-14 h4 {
  font-family: var(--e-global-typography-aeacf95-font-family), Sans-serif;
  font-size: var(--e-global-typography-aeacf95-font-size);
  font-weight: var(--e-global-typography-aeacf95-font-weight);
  line-height: var(--e-global-typography-aeacf95-line-height);
  letter-spacing: var(--e-global-typography-aeacf95-letter-spacing);
  word-spacing: var(--e-global-typography-aeacf95-word-spacing);
}
.elementor-kit-14 h5 {
  font-family: var(--e-global-typography-e42b34a-font-family), Sans-serif;
  font-size: var(--e-global-typography-e42b34a-font-size);
  font-weight: var(--e-global-typography-e42b34a-font-weight);
  line-height: var(--e-global-typography-e42b34a-line-height);
  letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
  word-spacing: var(--e-global-typography-e42b34a-word-spacing);
}
.elementor-kit-14 h6 {
  font-family: var(--e-global-typography-e42b34a-font-family), Sans-serif;
  font-size: var(--e-global-typography-e42b34a-font-size);
  font-weight: var(--e-global-typography-e42b34a-font-weight);
  line-height: var(--e-global-typography-e42b34a-line-height);
  letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
  word-spacing: var(--e-global-typography-e42b34a-word-spacing);
}
.elementor-kit-14 button,
.elementor-kit-14 input[type="button"],
.elementor-kit-14 input[type="submit"],
.elementor-kit-14 .elementor-button {
  font-family: var(--e-global-typography-c1936b1-font-family), Sans-serif;
  font-size: var(--e-global-typography-c1936b1-font-size);
  font-weight: var(--e-global-typography-c1936b1-font-weight);
  text-transform: var(--e-global-typography-c1936b1-text-transform);
  line-height: var(--e-global-typography-c1936b1-line-height);
  letter-spacing: var(--e-global-typography-c1936b1-letter-spacing);
  word-spacing: var(--e-global-typography-c1936b1-word-spacing);
  color: var(--e-global-color-8cf4e6b);
  background-color: var(--e-global-color-2235386);
  border-style: none;
  border-radius: 99px 99px 99px 99px;
}
.elementor-kit-14 button:hover,
.elementor-kit-14 button:focus,
.elementor-kit-14 input[type="button"]:hover,
.elementor-kit-14 input[type="button"]:focus,
.elementor-kit-14 input[type="submit"]:hover,
.elementor-kit-14 input[type="submit"]:focus,
.elementor-kit-14 .elementor-button:hover,
.elementor-kit-14 .elementor-button:focus {
  color: var(--e-global-color-25e6898);
  background-color: var(--e-global-color-0079df5);
  border-style: none;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .elementor-kit-14 {
    --e-global-typography-9e84337-font-size: 4.11rem;
    --e-global-typography-25e89a7-font-size: 3.65rem;
    --e-global-typography-9313785-font-size: 3.24rem;
    --e-global-typography-5890a7d-font-size: 2.88rem;
    --e-global-typography-c22eaa1-font-size: 2.56rem;
    --e-global-typography-1f3d330-font-size: 2rem;
    --e-global-typography-1a4a178-font-size: 1.5rem;
    --e-global-typography-aeacf95-font-size: 1.2rem;
    --e-global-typography-e42b34a-font-size: 1.125rem;
    --e-global-typography-7b07726-font-size: 0.875rem;
    --e-global-typography-3004af5-font-size: 1rem;
    --e-global-typography-8effbd8-font-size: 0.875rem;
    --e-global-typography-422cfbf-font-size: 0.75rem;
    --e-global-typography-bbd10ee-font-size: 0.875rem;
    --e-global-typography-c1936b1-font-size: 0.875rem;
    font-size: var(--e-global-typography-3004af5-font-size);
    line-height: var(--e-global-typography-3004af5-line-height);
    letter-spacing: var(--e-global-typography-3004af5-letter-spacing);
    word-spacing: var(--e-global-typography-3004af5-word-spacing);
  }
  .elementor-kit-14 h1 {
    font-size: var(--e-global-typography-c22eaa1-font-size);
    line-height: var(--e-global-typography-c22eaa1-line-height);
    letter-spacing: var(--e-global-typography-c22eaa1-letter-spacing);
    word-spacing: var(--e-global-typography-c22eaa1-word-spacing);
  }
  .elementor-kit-14 h2 {
    font-size: var(--e-global-typography-1f3d330-font-size);
    line-height: var(--e-global-typography-1f3d330-line-height);
    letter-spacing: var(--e-global-typography-1f3d330-letter-spacing);
    word-spacing: var(--e-global-typography-1f3d330-word-spacing);
  }
  .elementor-kit-14 h3 {
    font-size: var(--e-global-typography-1a4a178-font-size);
    line-height: var(--e-global-typography-1a4a178-line-height);
    letter-spacing: var(--e-global-typography-1a4a178-letter-spacing);
    word-spacing: var(--e-global-typography-1a4a178-word-spacing);
  }
  .elementor-kit-14 h4 {
    font-size: var(--e-global-typography-aeacf95-font-size);
    line-height: var(--e-global-typography-aeacf95-line-height);
    letter-spacing: var(--e-global-typography-aeacf95-letter-spacing);
    word-spacing: var(--e-global-typography-aeacf95-word-spacing);
  }
  .elementor-kit-14 h5 {
    font-size: var(--e-global-typography-e42b34a-font-size);
    line-height: var(--e-global-typography-e42b34a-line-height);
    letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
    word-spacing: var(--e-global-typography-e42b34a-word-spacing);
  }
  .elementor-kit-14 h6 {
    font-size: var(--e-global-typography-e42b34a-font-size);
    line-height: var(--e-global-typography-e42b34a-line-height);
    letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
    word-spacing: var(--e-global-typography-e42b34a-word-spacing);
  }
  .elementor-kit-14 button,
  .elementor-kit-14 input[type="button"],
  .elementor-kit-14 input[type="submit"],
  .elementor-kit-14 .elementor-button {
    font-size: var(--e-global-typography-c1936b1-font-size);
    line-height: var(--e-global-typography-c1936b1-line-height);
    letter-spacing: var(--e-global-typography-c1936b1-letter-spacing);
    word-spacing: var(--e-global-typography-c1936b1-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-14 {
    --e-global-typography-9e84337-font-size: 4.11rem;
    --e-global-typography-25e89a7-font-size: 3.65rem;
    --e-global-typography-9313785-font-size: 3.24rem;
    --e-global-typography-5890a7d-font-size: 2.88rem;
    --e-global-typography-c22eaa1-font-size: 2.56rem;
    --e-global-typography-1f3d330-font-size: 2rem;
    --e-global-typography-1a4a178-font-size: 1.5rem;
    --e-global-typography-aeacf95-font-size: 1.2rem;
    --e-global-typography-e42b34a-font-size: 1.125rem;
    --e-global-typography-7b07726-font-size: 0.875rem;
    --e-global-typography-7b07726-line-height: 1.2em;
    --e-global-typography-3004af5-font-size: 1rem;
    --e-global-typography-8effbd8-font-size: 0.875rem;
    --e-global-typography-422cfbf-font-size: 0.75rem;
    --e-global-typography-bbd10ee-font-size: 0.875rem;
    --e-global-typography-bbd10ee-line-height: 1.2em;
    --e-global-typography-c1936b1-font-size: 0.875rem;
    --e-global-typography-c1936b1-line-height: 1.2em;
    font-size: var(--e-global-typography-3004af5-font-size);
    line-height: var(--e-global-typography-3004af5-line-height);
    letter-spacing: var(--e-global-typography-3004af5-letter-spacing);
    word-spacing: var(--e-global-typography-3004af5-word-spacing);
  }
  .elementor-kit-14 h1 {
    font-size: var(--e-global-typography-c22eaa1-font-size);
    line-height: var(--e-global-typography-c22eaa1-line-height);
    letter-spacing: var(--e-global-typography-c22eaa1-letter-spacing);
    word-spacing: var(--e-global-typography-c22eaa1-word-spacing);
  }
  .elementor-kit-14 h2 {
    font-size: var(--e-global-typography-1f3d330-font-size);
    line-height: var(--e-global-typography-1f3d330-line-height);
    letter-spacing: var(--e-global-typography-1f3d330-letter-spacing);
    word-spacing: var(--e-global-typography-1f3d330-word-spacing);
  }
  .elementor-kit-14 h3 {
    font-size: var(--e-global-typography-1a4a178-font-size);
    line-height: var(--e-global-typography-1a4a178-line-height);
    letter-spacing: var(--e-global-typography-1a4a178-letter-spacing);
    word-spacing: var(--e-global-typography-1a4a178-word-spacing);
  }
  .elementor-kit-14 h4 {
    font-size: var(--e-global-typography-aeacf95-font-size);
    line-height: var(--e-global-typography-aeacf95-line-height);
    letter-spacing: var(--e-global-typography-aeacf95-letter-spacing);
    word-spacing: var(--e-global-typography-aeacf95-word-spacing);
  }
  .elementor-kit-14 h5 {
    font-size: var(--e-global-typography-e42b34a-font-size);
    line-height: var(--e-global-typography-e42b34a-line-height);
    letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
    word-spacing: var(--e-global-typography-e42b34a-word-spacing);
  }
  .elementor-kit-14 h6 {
    font-size: var(--e-global-typography-e42b34a-font-size);
    line-height: var(--e-global-typography-e42b34a-line-height);
    letter-spacing: var(--e-global-typography-e42b34a-letter-spacing);
    word-spacing: var(--e-global-typography-e42b34a-word-spacing);
  }
  .elementor-kit-14 button,
  .elementor-kit-14 input[type="button"],
  .elementor-kit-14 input[type="submit"],
  .elementor-kit-14 .elementor-button {
    font-size: var(--e-global-typography-c1936b1-font-size);
    line-height: var(--e-global-typography-c1936b1-line-height);
    letter-spacing: var(--e-global-typography-c1936b1-letter-spacing);
    word-spacing: var(--e-global-typography-c1936b1-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
